# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings

# IDE
.vscode/
.idea/
*.rider.*

# NuGet
*.nupkg
*.nuget.g.props
*.nuget.g.targets

# Misc
*.cache
